p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

.gradient-background {
    color : radial-gradient(circle, #ffffff, #3366cc);
  }

button {
    padding: 1.5rem 2rem
    border: 0
    color: var(--color-3)
    font-size: 1.2rem
    font-weight: bold
    border-radius: 3px
    transition: all .2s
    cursor: pointer
    box-shadow: 0 1.75rem 2rem -.4rem rgba(50, 0, 100, .15)
  
    &:hover
    color: var(--color-4)
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, .1)
    transform: scale(1.05)
    
  &:active
    box-shadow: 0 1.75rem 2.5rem -.2rem rgba(50, 0, 100, .125)
    transform: scale(1.025)
}
